*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(249, 244, 244);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-color: rgb(39, 90, 91);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 4px 8px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    max-width: 600px;
    margin: 20px;
}

h1{
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
    color: rgb(199, 237, 214);
}

.form{
    font-size: 24px;
}

input{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

input:focus{
    outline: none;
}

#result{
    color: rgb(116, 248, 175);
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

button{
    margin-top: 10px;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 12px;
    background: rgb(11, 153, 94);
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color .4s ease-in;
}

button:hover{
    background-color: rgb(8, 102, 63);
    color: rgb(255, 255, 255);
}